# Ignore everything by default
*

# Include directories and nested files
!arrays-and-slices/
!arrays-and-slices/**
!concurrency/
!concurrency/**
!dependency-injection/
!dependency-injection/**
!hello-world/
!hello-world/**
!iteration/
!iteration/**
!maps/
!maps/**
!mocking/
!mocking/**
!pointers-and-errors/
!pointers-and-errors/**
!select/
!select/**
!structs-methods-interfaces/
!structs-methods-interfaces/**

# Include top level files
!.gitignore
