# Ignore everything by default
*

# Include directories
!arrays-and-slices/
!arrays-and-slices/**
!hello-world/
!hello-world/**
!iteration/
!iteration/**
!pointers-and-errors/
!pointers-and-errors/**
!structs-methods-interfaces/
!structs-methods-interfaces/**

# Include files
!.gitignore
